@font-face {
	font-family: "Material Symbols";
	src: url(./assets/MaterialSymbols.ttf);
}

.material-symbols {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
	font-family: "Material Symbols", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	vertical-align: baseline;
	color: var(--c-text);
}

:root {
	--font-size: 12pt;
	--spacing: 8px;
	--tab-height: 20px;
	--line-height: 12.5px;
	--indentation: 30px;
	--corner-round: 6px;
	--border-thickness: 2px;
	--animation-time: 0.15s;
	--logbox-min-height: 6vh;
	--logbox-max-height: 50vh;
	--c-background-alt: #22242c;
	--c-background: #2c2d34;
	--c-background-light: #3f3e44;
	--c-border: #526b7c;
	--c-text-alt: #ddcfbe;
	--c-text: #f5eadc;
	--c-dim-alt: #767883;
	--c-dim: #b2b1a9;

	--toast-info-border: #40486b;
	--toast-info-background: #526b7c;
	--toast-info-text: #9fcbac;
	--toast-warn-border: #eb6b50;
	--toast-warn-background: #fcca70;
	--toast-warn-text: #f5eadc;
	--toast-error-border: #561c2e;
	--toast-error-background: #a8393b;
	--toast-error-text: #f2efdc;
}

html,
body {
	height: 100%;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: var(--c-background-alt);
	color: var(--c-text);
	caret-color: var(--c-text-alt);
	margin: 0;
	font-size: var(--font-size);
}

button,
input,
textarea {
	box-sizing: border-box;
	user-select: none;
	outline: none;
	box-shadow: none;
	border-style: none;
	vertical-align: middle;
	background-color: var(--c-background-light);
	border-radius: var(--corner-round);
	padding: var(--spacing);
}

button {
	color: var(--c-text-alt);
	font-size: 150%;
}

button:hover {
	background-color: var(--c-border);
	color: var(--c-text);
	cursor: pointer;
}

button:disabled {
	color: var(--c-dim-alt);
	background-color: var(--c-background);
	pointer-events: none;
}

input,
textarea {
	padding-left: calc(2 * var(--spacing));
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: var(--font-size);
	color: var(--c-text);
}

textarea {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	padding-top: calc(calc(var(--logbox-min-height) / 2) - var(--line-height));
	padding-bottom: calc(calc(var(--logbox-min-height) / 2) - var(--line-height));
	line-height: 25px;
}

div {
	margin: var(--spacing);
}

#main-container {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: start;
	width: 100%;
	height: 100%;
}

#sidebar {
	float: left;
	width: 9vw;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	overflow-y: scroll;
	overflow-x: hidden;
}

#sidebar::-webkit-scrollbar {
	display: none;
}

#sidebar,
.note-tabs {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

#sidebar-filter {
	border-radius: 0;
	margin-bottom: 2vh;
}

.tab {
	padding: 0;
	margin: 0;
	transform: translateX(0%);
	transition: 0.2s transform;
}

.tab:not(:only-of-type) {
	cursor: grab;
	pointer-events: all;
}

.tab:not(:only-of-type)>.tab-label::before {
	font-family: "Material Symbols";
	content: "drag_indicator";
	color: var(--c-dim);
	font-size: 120%;
	margin-right: var(--spacing);
}

.tab.dragging {
	opacity: 0.5;
	transform: translateX(10%);
	transition: 0.2s transform;
}

.tab.dragging * {
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

.tab-input {
	display: none;
}

.tab-label {
	font-size: 85%;
	flex-basis: var(--tab-height);
	background-color: var(--c-background-alt);
	padding: var(--spacing);
	display: flex;
	position: relative;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
}


.tab-label:hover {
	background-color: var(--c-background);
	cursor: pointer;
}

.tab-input:checked+.tab-label {
	cursor: default;
	background-color: var(--c-background);
	/* border-top: var(--border-thickness) solid var(--c-border);
	border-bottom: var(--border-thickness) solid var(--c-border); */
}

.tab-input:checked+.tab-label::after {
	/* This makes the tab "stick out" & cover the border to make it look seamless. */
	position: absolute;
	height: calc(var(--tab-height) + var(--spacing) + var(--border-thickness));
	top: 0px;
	content: "";
	z-index: 10;
	border: var(--border-thickness) solid var(--c-background);
	background-color: var(--c-background);
	right: calc(calc(var(--border-thickness) * -1) - 1px);
}

#overview-tab {
	padding-top: 3vh;
	padding-bottom: 3vh;
	text-align: center;
	padding-left: 0;
	display: block;
}

#overview-tab:hover {
	background-color: var(--c-background);
	cursor: pointer;
}

#overview-tab.input:checked+ {
	cursor: default;
	background-color: var(--c-background);
}

#overview-tab .material-symbols {
	font-size: 200%;
}

#overview-tab .tab-input {
	display: none;
}

#add-note-tab {
	padding-left: 0.75vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--spacing);
}

/* MIDDLE PANEL */

.middle-panel {
	z-index: 0;
	margin-left: 0;
	background-color: var(--c-background);
	/* border: var(--border-thickness) solid var(--c-border); */
	border-radius: calc(2 * var(--corner-round));
	width: 60vw;
	height: auto;
	display: flex;
	flex-direction: column;
	resize: horizontal;
	overflow: hidden;
}

.note-heading {
	flex: 1;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: var(--spacing);
	border-bottom: var(--border-thickness) solid var(--c-dim-alt);
	vertical-align: baseline;
	height: 6vh;
}

#note-title {
	flex-shrink: 0;
	margin-left: var(--indentation);
	font-size: 125%;
	vertical-align: middle;
}

.note-controls {
	display: flex;
	gap: var(--spacing);
}

.note-controls button {
	height: calc(6vh - var(--spacing));
	width: calc(6vh - var(--spacing));
}

.overview-controls {
	display: none;
}

.overview-controls.show {
	display: flex;
	gap: var(--spacing);
	justify-content: space-between;
	width: 50%;
	align-items: center;
}

.overview-date-controls {
	display: flex;
	width: max-content;
	gap: var(--spacing);
}

#start-date-selector {
	color: var(--c-text);
	display: inline-flex;
	width: 9vw;
	font-size: 85%;
	cursor: pointer;
}

#start-date-selector::after {
	/* Replace the regular calendar icon with one from the same icon library */
	position: relative;
	font-family: "Material Symbols";
	content: "date_range";
	pointer-events: none;
	font-size: 150%;
	right: -10px;
	/* TODO: Does this need to be a different value/unit */
	margin-right: calc(var(--spacing) / 2);
}

#start-date-selector::-webkit-inner-spin-button,
#start-date-selector::-webkit-calendar-picker-indicator {
	opacity: 0;
}

#date-range-selector {
	width: calc(var(--logbox-min-height) + 1vw);
}

#log-container {
	display: flex;
	flex-direction: column;
	height: calc(100% - 12vh);
}

#entry-container {
	overflow-y: auto;
	flex: 1;
}

.entry {
	margin-bottom: calc(2 * var(--spacing));
}

.entry-content {
	margin-top: 0;
}

.entry-header {
	text-align: right;
	font-size: 75%;
	color: var(--c-dim);
	height: 0;
	/* Flatten this so that it appears in line with the 1st line of the entry */
	margin: 0;
}

.entry-text {
	/* This is applied to all text in the entry. */
	border-radius: 0;
	border-radius: none;
	margin-bottom: 0;
	padding-top: var(--spacing);
}

.entry-text:not(:first-child) {
	margin-top: 0;
}

.entry-text span:hover {
	background-color: var(--c-background-light);
}

.entry-text:hover::before {
	background-color: var(--c-background-light);
}

.disclosure-widget {
	margin-right: 6px;
	font-family: "Material Symbols";
	cursor: pointer;
	user-select: none;
	color: var(--c-dim);
}

.entry-text:not(.collapsed)>.disclosure-widget::before {
	content: "keyboard_arrow_down";
	display: inline;
}

.disclosure-widget:hover::before {
	color: var(--c-text);
}

.entry-text.collapsed>.disclosure-widget::before {
	content: "keyboard_arrow_right";
	display: inline;
}

.entry-text>div.entry-text {
	/* This is only applied to entries that are not at the topmost level. */
	border-left: calc(var(--border-thickness) / 2) solid var(--c-dim-alt);
	margin-left: 8px;
	/* TODO: Check if this should be set dynamically instead. Decrease to move the border leftwards */
	padding-left: var(--indentation);
}

.entry-text.collapsed>div.entry-text {
	display: none;
}

.disclosure-widget:hover~.entry-text {
	/* When a disclosure-widget is hovered over, it highlights the borders of the children below it. */
	border-left-color: var(--c-dim);
}

.log-input-container {
	flex-shrink: 0;
	padding-top: var(--spacing);
	display: flex;
	gap: var(--spacing);
	justify-content: space-between;
	align-items: end;
	border-radius: var(--corner-round);
	min-height: var(--logbox-min-height);
}

.log-input-container button {
	flex-basis: var(--logbox-min-height);
	height: var(--logbox-min-height);
}

.log-input-container textarea {
	flex-grow: 1;
	resize: none;
	min-height: var(--logbox-min-height);
	height: var(--logbox-min-height);

}

@supports(field-sizing: content) {
	.log-input-container textarea {
		height: auto;
		min-height: var(--logbox-min-height);
		max-height: var(--logbox-max-height);
		field-sizing: content;
	}
}

.right-panel {
	min-width: 0px;
	background-color: var(--c-background-light);
	border: var(--border-thickness) solid var(--c-dim-alt);
	flex-grow: 1;
	flex-shrink: 1;
}

.big-note {
	min-width: 0px;
	width: 100%;
	height: 100%;
	border: var(--border-thickness) solid var(--c-background-alt);
	left: var(--spacing);
	top: var(--spacing);
	resize: none;
	background-color: var(--c-background-alt);
	border-radius: var(--corner-round);
}

.toast-container {
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-content: start;
	justify-items: center;
	gap: var(--spacing);
	z-index: 1000;
}

.toast {
	display: flex;
	align-items: center;
	margin: 0;
	padding: var(--spacing);
	border-radius: var(--corner-round);
	min-width: 10vw;
	max-width: 50vw;
	height: 1.2vw;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.1s ease, transform 0.1s ease;
	border: var(--border-thickness) solid;
}

.toast.show {
	opacity: 1;
	transform: translateY(0);
}

.toast::before {
	margin-right: 6px;
	font-family: "Material Symbols";
	color: var(--c-text);
	font-size: 120%;
}

.info {
	background-color: var(--toast-info-background);
	color: var(--c-text);
	border-color: var(--toast-info-border);
}

.toast.info::before {
	color: var(--toast-info-border);
	content: "info";
}

.warn {
	background-color: var(--toast-warn-border);
	color: var(--c-text);
	border-color: var(--toast-warn-background);
}

.toast.warn::before {
	color: var(--toast-warn-background);
	content: "warning";
}

.error {
	background-color: var(--toast-error-background);
	color: var(--c-text);
	border-color: var(--toast-error-border);
}

.toast.error::before {
	color: var(--toast-error-border);
	content: "error";
}


#note-selection-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#note-selection-modal[hidden] {
	display: none;
}

.modal-content {
	background: var(--c-background-light);
	padding: var(--spacing);
	display: flex;
	flex-direction: column;
	width: 20vw;
	border-radius: calc(2 * var(--corner-round));
}

#unopened-notes-list {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: auto;
	flex: 1;
}

#unopened-notes-list li {
	border-radius: var(--corner-round);
	color: var(--c-dim);
	padding: var(--spacing);
	cursor: pointer;
}

#unopened-notes-list li.hovered {
	background-color: var(--c-border);
	color: var(--c-text);
}