/* .TMCommandBar {
  background-color:#f8f8f8;
  height:24px;
  border:4px solid #f8f8f8;
  box-sizing: content-box;
  display:flex;
  -webkit-user-select: none;
          user-select: none;
  overflow-x: scroll;
	overflow-y: hidden;
  scrollbar-width: none;  
  -ms-overflow-style: none; 
}

.TMCommandBar::-webkit-scrollbar {
  display: none;
}

.TMCommandButton {
  box-sizing: border-box;
  display: inline-block;
  height:24px;
  width:24px;
  padding:3px;
  margin-right:4px; 
  color:#404040;
  fill:#404040;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  font-size:20px;
  line-height:18px;
  font-family: sans-serif;
}

.TMCommandDivider {
  box-sizing: content-box;
  height:24px;
  margin-left:4px;
  margin-right:8px;
  width:0px;
  border-left:1px solid #c0c0c0;
  border-right:1px solid #ffffff;
}

.TMCommandButton_Active {
  font-weight:bold;
  color:#000080;
  background-color: #c0c0ff;
  fill:#000080;
}

.TMCommandButton_Inactive {
  background-color:#f8f8f8;
}

.TMCommandButton_Disabled {
  color:#a0a0a0;
  fill:#a0a0a0;
}

@media (hover: hover) {
  .TMCommandButton_Active:hover, .TMCommandButton_Disabled:hover, .TMCommandButton_Inactive:hover {
    background-color:#e0e0ff;
    fill:#000000;
  }
}

.TMMark {
	color: var(--c-dim-alt);
}

.TMUnderline {
	text-decoration: underline;
	text-decoration-line: underline;
} */

.TMCommandBar {
  background-color: var(--c-background-light);
  min-height: 36px;
  border-radius: var(--corner-round);
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-user-select: none;
          user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;  
  -ms-overflow-style: none; 
  margin-bottom: 0;
}

.TMCommandBar::-webkit-scrollbar {
  display: none;
}

.TMCommandDivider {
  box-sizing: content-box;
  height: 24px;
  margin: 4px 0px;
  width: 0px;
  border-left: 1px solid var(--c-dim-alt);
  border-right: 1px solid var(--c-dim-alt);
}

.TMCommandButton {
    box-sizing:content-box;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 4px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: calc(var(--corner-round) * 0.5);
    line-height: 1.1;
    font-size: 110%;
}

.TMCommandButton_Active {
  /* font-weight: 600; */
  background-color: var(--c-border);
  color: var(--c-text);
}

.TMCommandButton_Inactive {
  color: var(--c-dim);
}

.TMCommandButton_Disabled {
  color: var(--c-dim-alt);
  pointer-events: none;
}

@media (hover: hover) {
  .TMCommandButton_Active:hover,
  .TMCommandButton_Inactive:hover,
  .TMCommandButton_Disabled:hover {
    background-color: var(--c-border);
  }
}

.TMMark {
  color: var(--c-dim-alt);
}

.TMUnderline {
  text-decoration: underline;
  text-decoration-line: underline;
}